# Site Settings
NEXT_PUBLIC_SITE_URL=https://psrone.vercel.app

# Supabase Configurations
SUPABASE_URL=
SUPABASE_ANON_KEY=

# Email Configurations (SendGrid or Custom SMTP)
SENDGRID_API_KEY=
ADMIN_EMAIL=admin@psrone.com
